body {
    background-color: #ffffff;
    /* Mode Terang */
    transition: background-color 0.5s ease;
    color: #000000;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

body.dark-mode {
    background-color: #1a1a1a;
    /* Mode Gelap */
    color: #ffffff;
}

section {
    margin-bottom: 20px;
}

/* ANIMASI SLIDE */
.animated1 {
    background-color: #df8484;
    background-image: linear-gradient(135deg, #df8484, #185ee0);
    box-shadow: 0 0 1px 0 rgba(118, 105, 105, 0.466), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    height: 570px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    margin-top: -50px;
    z-index: -2;
    /* Set a lower z-index to place it behind other elements */
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(0, 0, 0, 0.1) 50%, #df8484 50%);
    bottom: 0;
    left: -50%;
    margin-top: 70px;
    opacity: .1;
    position: fixed;
    right: -50%;
    top: 0;
    position: absolute;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
    position: absolute;
}

.bg3 {
    animation-duration: 5s;
    position: absolute;
}

.bg,
.bg2,
.bg3 {
    height: 500px;
    width: 120%;
}


.container_card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    /* Set the container_card position to relative */
    z-index: 1;
    /* Bring the container_card above the background elements */
}

/* Rest of the CSS remains the same */

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-family: monospace;
    margin-top: 70px;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/* CARD PORTOFOLIO */
.card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
    border-radius: 20px;
    background: var(--bg-color);
}

.card__img {
    margin-top: -20px;
    height: 230px;
    width: 100%;
}

.card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
}

.card__avatar {
    position: absolute;
    width: 110px;
    height: 110px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
}

.card__avatar svg {
    width: 100px;
    height: 100px;
}

.card__title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
}

.card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
}


.imgme {
    float: center;
    margin-bottom: 18px;
}

.imgme-text {
    display: inline-block;
}

/* VISITORS */
#visitorCount {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

/* SUHU (WEATHER) */
#section2 {
    background-image: url('https://i.ibb.co/mv8V2h2/awan.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.cardContainerWeather {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.cardWeather {
    position: relative;
    width: 320px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
}

#city {
    font-size: 32px;
    text-transform: uppercase;
    font-family: monospace;
    margin: 10px 0;
}

#temperature {
    font-size: 22px;
    margin: 10px 0;
}

#description {
    font-size: 22px;
    margin: 10px 0;
    text-transform: capitalize;
}

.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardContainerWeather::before {
    width: 100px;
    height: 100px;
    content: "";
    margin-top: -130px;
    margin-left: 100px;
    position: absolute;
    background-color: rgb(246, 255, 0);
    z-index: -1;
    border-radius: 50%;
    transition: all 1s;
}

.cardContainerWeather:hover::before {
    transform: translate(-50px, 50px);
}

/* CAT */
.cat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-bottom: 30px;
}

#section4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.card-cat{
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #df8484, #185ee0);
  box-shadow: 5px 5px 8px #938f8f,
             -5px -5px 8px #938f8f;
  transition: 0.4s;
}

.card-cat:hover {
  translate: 0 -10px;
}

.card-title-cat {
  font-size: 18px;
  font-weight: 600;
  color: #b2eccf;
  margin: 15px 0 0 10px;
}

.card-image-cat {
  min-height: 170px;
  background-color: #313131;
  border-radius: 15px;
  background: #313131;
  box-shadow: inset 5px 5px 3px #938f8f,
            inset -5px -5px 3px #938f8f;
}

.imgcat {
    border-radius: 20px;
    height: 200px;
    width: 330px;
}
.card-body-cat {
  margin: 13px 0 0 10px;
  color: rgb(184, 184, 184);
  font-size: 15px;
}

.footer-cat {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13px;
  color: #b3b3b3;
}

.by-name-cat {
  font-weight: 700;
}

/* TOMBOL BEAUTY */
#sportify {
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.cta {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    padding: 11px 33px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 0 #df8484;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}

/* RED GREEN BLUE */
#section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
}

.cards .red {
    background-color: #f43f5e;
}

.cards .blue {
    background-color: #3b82f6;
}

.cards .green {
    background-color: #22c55e;
}

.cards .card {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
}

.cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.cards .card p.second-text {
    font-size: .7em;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

a {
    color: #000000;
    text-decoration: none;
}