
.tabscontact {
    display: flex;
    position: relative;
    background-color: #df8484;
    background-image: linear-gradient(135deg, #df8484, #185ee0);
    box-shadow: 0 0 1px 0 rgba(118, 105, 105, 0.466), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 10px;
    flex-grow: 1;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    background-color: #929292;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.contact-form label {
    color: black;
}

.contact-form .heading {
    font-size: 24px;
    color: black;
    ;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
    width: 96%;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #ff6384;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
    background-color: #ff6384;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.headingcm{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}