body {
    background-color: #ffffff; /* Mode Terang */
    transition: background-color 0.5s ease;
    color: #000000;
}

body.dark-mode {
    background-color: #1a1a1a; /* Mode Gelap */
    color: #ffffff;
}

.imgme {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.imgme-text {
    display: inline-block;
}

a {
    color: #000000;
    text-decoration: none;
}